.section-certifications {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.certifications-container {
    width: 80%;
}

.certifications-container header {
    font-size: 15px;
    color: #5a8bd5;
    margin: 0;
}
#mis-certificaciones {
  scroll-margin-top: 100px; 
}

.certifications {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 30px;
    gap: 40px;
}

.certification {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #dbe0e409;
    border: .5px solid #373839;
    padding: 15px 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

.certifications-header> h3 {
    font-size: 15px;
    color: #5a8bd5;
    margin: 0;
    font-weight: 500;
}

.certification a p {
    font-weight: 300;
    color: #b3b2b2;
    transition: all 0.3s;
}

.certification a p:hover {
    color: white;
}

.certification h3 {
    margin: 10px 0;
    font-size: 18px;
    color: white;
}

.arrow-up {
    width: 12px;
    margin: 0px 10px;
}

@media (min-width: 1100px) {
    .certifications-container {
        width: 69%;
    }
    .certifications{
        grid-template-columns: repeat(2, 1fr);
    }
}