.navbar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 100;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #1f20207d;
    top: 0;
    height: 48px;
}

.container-menu {
    width: 85%;
    display: flex;
    justify-content: flex-end;
}

.menu-icon {
    width: 30px;
}

.mobile-menu {
    visibility: hidden;
    position: absolute;
    width: 65%;
    height: 100vh;
    background-color: #161719;
    top: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateX(100%);
}

.mobile-menu.show {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.sections-menu {
    padding: 70px 20px 0px 0px;
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #b3b2b2;
    align-items: flex-end;
    justify-content: flex-start;
    font-weight: 300;
    font-size: 17px;
}

.sections-menu li:hover {
    color: white;
}

.sections {
  visibility: hidden;
  height: 48px;
}

.me-text {
  visibility: hidden;
  height: 30px; 
}

@media (min-width: 900px) {
    .menu-icon {
        display: none;
    }

    .container-menu {
        justify-content: space-between;
        width: 69%;
    }

    .me-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        color: #b3b2b2;
    }

    .name {
        font-size: 13px;
        font-weight: 300;
    }

    .profession {
        font-size: 10px;
        font-weight: 300;
    }

    .me {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        
    }

    .me-text {
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
    gap: 2px;
  }

    .sections {
        height: auto;
        visibility: visible;
        display: flex;
        flex-direction: row;
        gap: 25px;
        color: #b3b2b2;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        font-size: 14px;

    }

    .sections li:hover a {
        color: #dfd8d8;
    }
}