#app-root {
  min-width: 320px;
  background-color: #161719;
  height: 1200px;
}

#content-wrapper {
  width: 100%;
  height: 100%;
}

.home {
  margin-top: 50px;
  background-color: #1c1d1e;
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  z-index: 100;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #1f20207d;
  top: 0;
  height: 48px;
}

.container-menu{
  width: 85%;
  display: flex;
  justify-content: flex-end;
}
.menu-icon {
  width: 30px;
}

.header-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-container h1,
h2 {
  font-size: 45px;
  font-weight: 500;
}

.header-container h2 {
  margin-bottom: 10px;
}

.header-container h3 {
  font-size: 15px;
  font-weight: 300;
}


.download {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  cursor: pointer;
  background-color: #1f2022;
  border: .5px solid #45484b;
  border-radius: 10px;
  margin: 10px;
  gap: 3px;
}

.download span {
  font-size: 16px;
  font-weight: 300;
}

.svg-download {
  width: 18px;
}

.ancor-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ancor-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2px;
  background-color: #12589e;
  margin: 30px 6px;
  border-radius: 15px;
  font-size: 12px;
  position: relative;
  overflow: hidden;
  opacity: .9;
  font-weight: 300;
  padding: 18px 25px;
}


.socialIcons {
  width: 17px;
}

.tech-stack {
  display: flex;
  flex-direction: row;
  max-width: 282px;
  aspect-ratio: 282 / 25;
}

.tech-icons {
  width: 20px;
  margin: 0px 6px;
}

.project-container{
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.category-projects{
  width: 80%;
  height: 150px;
}
.category-projects h3{
  font-size: 15px;
  font-weight: 500;
  color: #5a8bd5;
}

.category-projects h2{
  font-size: 25px;
}

